<section class="ftco-section bg-light">
    <div class="container">

        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-12 heading-section ftco-animate">
                <h2 class="mb-4 text-center">{{ 'become-donor.headline'|trans }}</h2>
                <p>{{ 'become-donor.text'|trans }}</p>
                <div class="row">
                    <div class="col-md-4">
                        <ul class="list-group checklist">
                            <li class="list-group-item">
                                <img class="checklist-icon" src="{{ asset('/images/checkbox.png') }}" />
                                {{ 'become-donor.masks'|trans }}
                            </li>
                            <li class="list-group-item">
                                <img class="checklist-icon" src="{{ asset('/images/checkbox.png') }}" />
                                {{ 'become-donor.medical-masks'|trans }}
                            </li>
                            <li class="list-group-item">
                                <img class="checklist-icon" src="{{ asset('/images/checkbox.png') }}" />
                                {{ 'become-donor.gloves'|trans }}
                            </li>
                            <li class="list-group-item">
                                <img class="checklist-icon" src="{{ asset('/images/checkbox.png') }}" />
                                {{ 'become-donor.suites'|trans }}
                            </li>
                            <li class="list-group-item">
                                <img class="checklist-icon" src="{{ asset('/images/checkbox.png') }}" />
                                {{ 'become-donor.desinfect'|trans }}
                            </li>
                            <li class="list-group-item">
                                <img class="checklist-icon" src="{{ asset('/images/checkbox.png') }}" />
                                {{ 'become-donor.glasses-and-face-protection'|trans }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <img src="{{ asset('/images/checklist.jpg') }}" class="img-fluid"/>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
