<section class="ftco-section bg-light">
    <div class="container">

        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-12 heading-section ftco-animate">
                <h2 class="mb-4 text-center">Wer kann spenden?</h2>
                <p>Spenden können sowohl Privatpersonen als auch Unternehmen aller Branchen und Größen,
                    die einen oder mehrere der folgenden Schutz- und Behelfsartikel zur Verfügung stellen können.
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <ul class="list-group checklist">
                            <li class="list-group-item">
                                <img class="checklist-icon" src="{{ asset('/images/checkbox.png') }}" />
                                Behelfsmasken
                            </li>
                            <li class="list-group-item">
                                <img class="checklist-icon" src="{{ asset('/images/checkbox.png') }}" />
                                Medizinische Atemmasken
                            </li>
                            <li class="list-group-item">
                                <img class="checklist-icon" src="{{ asset('/images/checkbox.png') }}" />
                                Schutzhandschuhe
                            </li>
                            <li class="list-group-item">
                                <img class="checklist-icon" src="{{ asset('/images/checkbox.png') }}" />
                                Schutzkleidung</li>
                            <li class="list-group-item">
                                <img class="checklist-icon" src="{{ asset('/images/checkbox.png') }}" />
                                Desinfektionsmittel
                            </li>
                            <li class="list-group-item">
                                <img class="checklist-icon" src="{{ asset('/images/checkbox.png') }}" />
                                Schutzbrillen und Gesichtsschutz
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <img src="{{ asset('/images/checklist.jpg') }}" class="img-fluid"/>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
