<section class="ftco-section bg-primary" style="padding:1rem">
    <div class="container">
        <div class="row justify-content-center " style="color:white">
            <div class="col-md-4 heading-section ftco-animate text-center">
                <h2 class="mb-4" style="color:white; font-size: 60px;font-weight: 600;">#maskenmachen</h2>
            </div>
        </div>
        <div class="row justify-content-center" style="color:white">

            <div class="col-md-4 ftco-animate text-center" >
                <h4 style="color:white; ">
                    <p> &nbsp;</p>
                    <p>
                        &nbsp;</br>
                        &nbsp;
                    </p>
                    <p>
                        &nbsp;
                        </br>
                </h4>
                </p>
                <div style="border: 1px white solid;">
                    <h3 style="color:white; ">300 </br>
                        {{ 'cta.masks'|trans }}</h3>
                </div>

            </div>
            <div class="col-md-4 ftco-animate text-center">
                <h4 style="color:white; ">
                    <p>{{ 'cta.text-first'|trans }} </p>
                <p>
                    <a href="https://naehfrosch.de/mundschutz-selber-naehen/" style="color:white">{{ 'cta.link-mask'|trans }} </a> </br>
                    <a href="https://naehfrosch.de/mundschutz-selber-naehen/" style="color:white">{{ 'cta.link-print'|trans }} </a>
                </p>
                <p>
                    {{ 'cta.text-second'|trans }}
                    </br>
                    </h4>
                    <img src="{{ asset('/images/logo/naehfrosch-logo.png') }}" style="background-color: white">
                </p>
            </div>
            <div class="col-md-4 ftco-animate text-center">
                <!--<p class="d-none d-md-block">
                    <iframe width="534" height="300"
                            src="https://www.youtube.com/embed/9Bhr8V_v-aI"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </p>
                <p class="mt-5 d-md-none" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                    <a class="btn btn-secondary px-4 py-3 popup-youtube"
                       style="border-bottom: 0;"
                       href="https://www.youtube.com/embed/9Bhr8V_v-aI">
                        <span class="icon-play mr-2"></span>
                        {{ 'about-us.play-video'|trans }}</a></p>-->
                 </div>
        </div>

    </div>
</section>