<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">{{ 'press-highlights.headline'|trans }}</h2>
                <p>{{ 'press-highlights.text-first'|trans }} <a href="{{ path('web_press') }}">{{ 'press-highlights.text-second'|trans }}</a>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="row">
                    {% set counter = 0 %}
                    {% for mention in mentions %}
                    {% if counter != 4 and counter <8 %}
                    <div class="col-sm-3">
                        <div class="cause-entry">
                            <a class="img" href="{{ mention.url }}" target="_blank"
                               style="background: url('{{ asset(mention.img) }}'); background-size:  80%; background-repeat: no-repeat; background-position: center; padding: 1em;">
                            </a>
                        </div>
                    </div>
                    {% elseif counter == 4 %}
                </div>
                <div class="row" style="padding-top: 2%">
                    <div class="col-sm-3">
                        <div class="cause-entry">
                            <a class="img" href="{{ mention.url }}" target="_blank"
                               style="background: url('{{ asset(mention.img) }}'); background-size:  80%; background-repeat: no-repeat; background-position: center; padding: 1em;">
                            </a>
                        </div>
                    </div>


                    {% endif %}
                    {% set counter = counter + 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
</section>