{% extends 'base.html.twig' %}

{% block body %}
     <section class="ftco-section">
        <div class="container">

            <div class="row pb-4">
                <div class="col-md-12">
                    <div class="carousel-cause owl-carousel">
                        {% for member in members %}
                            {% if member.coreteam == true  %}
                            <div class="item">
                                <div class="cause-entry">
                                    <a class="img"
                                       style="background: url('{{ asset('/uploads/member/' ~ member.image) }}'); background-size:  80%; background-repeat: no-repeat; background-position: center; padding: 1em;">
                                    </a>
                                    <div class="text p-3 p-md-4">
                                        <br>
                                            {{ member.firstname }} {{ member.lastname }}
                                            </br>
                                            {{ member.info }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
     </section>
    <section class="ftco-section">
        <div class="container">
            <div class="row pb-4">
                <div class="col-md-12">
                    <ul id="grid" class="clear pb-sm-5 pb-xl-5">
                        {% for member in members %}
                            <li>
                                <div class="hexagon">
                                    {% if member.linkedin is not empty %}
                                        <a href="{{ member.linkedin }}">
                                            <img src="{{ asset('/uploads/member/' ~ member.image) }}" alt="" />
                                        </a>
                                    {% else %}
                                        <img src="{{ asset('/uploads/member/' ~ member.image) }}" alt="" />
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                </div>

            </div>
            <div class="row pt-2">

            </div>

        </div>
    </section>
{% endblock %}
{% block stylesheets %}
    <style type="text/css">
        #grid {
            position: relative;
            width: 60%;
            margin: 0 auto;
            padding: 0; /* Clears unordered list default of 40px */
        }

        .clear:after {
            content: "";
            display: block;
            clear: both;
        }
        #grid li {
            list-style-type: none;
            position: relative;
            float: left;
            width: 27.85714285714286%;
            padding: 0 0 32.16760145166612% 0;
            -o-transform: rotate(-60deg) skewY(30deg);
            -moz-transform: rotate(-60deg) skewY(30deg);
            -webkit-transform: rotate(-60deg) skewY(30deg);
            -ms-transform: rotate(-60deg) skewY(30deg);
            transform: rotate(-60deg) skewY(30deg);
            overflow: hidden;
            visibility: hidden;
        }
        #grid li * {
            visibility: visible;
        }

        #grid li .hexagon {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fdbf00;
            -o-transform: skewY(-30deg) rotate(60deg);
            -moz-transform: skewY(-30deg) rotate(60deg);
            -webkit-transform: skewY(-30deg) rotate(60deg);
            -ms-transform: skewY(-30deg) rotate(60deg);
            transform: skewY(-30deg) rotate(60deg);
            overflow: hidden;
        }

        #grid li:nth-child(3n+2) {
            margin: 0 1%;
        }

        #grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6) {
            margin-top: -6.9285714285%;
            margin-bottom: -6.9285714285%;
            -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            transform: translateX(50%) rotate(-60deg) skewY(30deg);
        }
        #grid li:nth-child(6n+4) {
            margin-left: 0.5%;
        }
    </style>
{% endblock %}