{% extends 'base.html.twig' %}

{% block body %}
    <section class="ftco-section">
        <div class="container-fluid">
            <div class="row d-md-flex">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Created at</th>
                        <th scope="col">Firstname</th>
                        <th scope="col">Lastname</th>
                        <th scope="col">Email</th>
                        <th scope="col">Street</th>
                        <th scope="col">Housenumber</th>
                        <th scope="col">Zipcode</th>
                        <th scope="col">City</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Type</th>
                        <th>Reject</th>
                        <th>Validate</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for account in accounts %}
                        <tr>
                            <th scope="row">{{ account.createdAt|date("d.m.Y H:i") }}</th>
                            <th>{{ account.firstname }}</th>
                            <td>{{ account.lastname }}</td>
                            <td>{{ account.email }}</td>
                            <td>{{ account.street }}</td>
                            <td>{{ account.housenumber }}</td>
                            <td>{{ account.zipcode }}</td>
                            <td>{{ account.city }}</td>
                            <td>{{ account.phone }}</td>
                            <td>{{ account.type }}</td>
                            <td><form><input type="hidden" name="action" value="reject"><input type="hidden" name="email" value="{{ account.email }}"><input type="submit" value="Reject" class="btn btn-danger"/></form></td>
                            <td><form><input type="hidden" name="action" value="validate"><input type="hidden" name="email" value="{{ account.email }}"><input type="submit" value="Validate" class="btn btn-primary"/></form></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </section>
{% endblock %}