{% extends 'base.html.twig' %}

{% block body %}

    <section class="ftco-section">
        <div class="container py-3">
            {% if local == true %}
                {% for faqSection in faqSections %}
                    <div class="row mb-4">
                        <div class="col-md-12 heading-section ftco-animate text-center fadeInUp ftco-animated">
                            <h2 class="mb-4">{{ faqSection.titleGerman }}</h2>
                        </div>
                        <div class="col-10 mx-auto">
                            <div class="accordion" id="faq-{{ faqSection.id }}">
                                {% for faqEntry in faqSection.faqEntries %}

                                    <div class="card">
                                        <div class="card-header p-2" id="heading-{{ faqEntry.id }}">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" style="color: #009ABB;" type="button" data-toggle="collapse" data-target="#collapse-{{ faqEntry.id }}" aria-expanded="false" aria-controls="collapse-{{ faqEntry.id }}">
                                                    Q. {{faqEntry.questionGerman}}
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapse-{{ faqEntry.id }}" class="collapse" aria-labelledby="heading-{{ faqEntry.id }}" data-parent="#faq-{{ faqSection.id }}">
                                            <div class="card-body">
                                                <b>Antwort:</b> {{faqEntry.answerGerman}}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% for faqSection in faqSections %}
                    <div class="row mb-4">
                        <div class="col-md-12 heading-section ftco-animate text-center fadeInUp ftco-animated">
                            <h2 class="mb-4">{{ faqSection }}</h2>
                        </div>
                        <div class="col-10 mx-auto">
                            <div class="accordion" id="faq-{{ faqSection.id }}">
                                {% for faqEntry in faqSection.faqEntries %}

                                    <div class="card">
                                        <div class="card-header p-2" id="heading-{{ faqEntry.id }}">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" style="color: #009ABB;" type="button" data-toggle="collapse" data-target="#collapse-{{ faqEntry.id }}" aria-expanded="false" aria-controls="collapse-{{ faqEntry.id }}">
                                                    Q. {{faqEntry}}
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapse-{{ faqEntry.id }}" class="collapse" aria-labelledby="heading-{{ faqEntry.id }}" data-parent="#faq-{{ faqSection.id }}">
                                            <div class="card-body">
                                                <b>Answer:</b> {{faqEntry}}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <!--/row-->
        </div>
        <!--container-->

    </section>

{% endblock %}