{% extends 'base.html.twig' %}

{% block body %}
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 heading-section text-center">
                    <h2 class="mb-4 mb-5">{{ 'press.heading'|trans }}</h2>
                    <p>{{ 'press.text.first'|trans }} <a
                                href="javascript:window.location.href = 'mailto:' + ['presse','remedymatch.io'].join('@')"> presse@remedymatch.io</a>
                    </p>
                    <p>
                        {{ 'press.text.second'|trans }}

                    </p>
                    <div class="col-md-6 text-center offset-md-3">
                        <a class="btn btn-block btn-info px-3 py-2 mt-2" href="/RememdyMatch_Pressekit.zip" role="button">{{ 'press.button.download'|trans }}</a>
                    </div>

                    <p></p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                {% for mention in mentions %}
                    <div class="col-md-3 d-flex ftco-animate fadeInUp ftco-animated">
                        <div class="blog-entry align-self-stretch" style="width: 100%">
                            <a href="{{ mention.url }}" class="block-20"
                               style="background-image: url('{{ asset(mention.img) }}'); background-size:  80%; background-repeat: no-repeat; background-position: center; padding: 1em;">
                            </a>
                            <div class="text p-4 d-block">
                                <div class="meta mb-3">
                                    <div>{{ mention.date }}</div>
                                </div>
                                <h3 class="heading mt-3">{{ mention.description }}</h3>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}