<!DOCTYPE html>
<html lang="de">
<head>
    <title>RemedyMatch.io</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="icon" type="image/png" href="{{ asset('/images/logo/rememdy-match-icon.png') }}"/>
    {{ encore_entry_link_tags('app_css') }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.5.3/lottie.js"></script>
    <meta property="og:image" content="http://www.remedymatch.io/SocialMedia.jpg">
    <meta property="og:description" content="Hilfe die ankommt! - RemedyMatch ist eine gemeinnützige Logistikplattform, die deutschlandweit Bestand und Bedarf von medizinischen Schutzartikeln zusammenbringt!">
    <meta name="twitter:image" content="http://www.remedymatch.io/SocialMedia.jpg">
    <meta name="twitter:title" content="RemedyMatch.io">
    <meta name="twitter:description" content="Hilfe die ankommt! - RemedyMatch ist eine gemeinnützige Logistikplattform, die deutschlandweit Bestand und Bedarf von medizinischen Schutzartikeln zusammenbringt!">
    <meta name="twitter:card" content="summary_large_image">

    <meta http-equiv="Cache-Control" content="no-cache">
    {% block stylesheets %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img class="header-img" src="{{ asset('/images/logo.png') }}">
        </a>
        <button aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#ftco-nav" data-toggle="collapse" type="button">
            <span class="oi oi-menu"></span> <span class="oi-menu-tag">Menu</span>
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a class="nav-link" href="{% if app.request.attributes.get('_route') is not same as('web_index') %}{{ path('web_index') }}{% endif %}#start-anchor">Spenden</a></li>
                <li class="nav-item active"><a href="{% if app.request.attributes.get('_route') is not same as('web_index') %}{{ path('web_index') }}{% endif %}#about-anchor" class="nav-link">Über uns</a></li>
                <li class="nav-item active"><a href="{% if app.request.attributes.get('_route') is not same as('web_index') %}{{ path('web_index') }}{% endif %}#partner-anchor" class="nav-link">Unsere Unterstützer</a></li>
                <li class="nav-item active"><a href="{{ path('web_press') }}" class="nav-link">Presse</a></li>
                <li class="nav-item active"><a href="{% if app.request.attributes.get('_route') is not same as('web_index') %}{{ path('web_index') }}{% endif %}#contact-anchor" class="nav-link">Kontakt</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->
{% block body %}{% endblock %}
<footer class="ftco-footer ftco-section img">
    <div class="overlay"></div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Mithelfen</h2>
                    <p>
                        Wir suchen weiterhin Unterstützung für unser Social Startup. Mittlerweile besteht unser Team aus über 60 Personen und es wächst jeden Tag!<br/>
                        <a href="{{ path('web_jobs') }}">&#8680; Offene Positionen</a>
                    </p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="https://twitter.com/RMatch2020" target="_blank"><span
                                        class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.facebook.com/RMatch2020/" target="_blank"><span
                                        class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.instagram.com/remedymatch/" target="_blank"><span
                                        class="icon-instagram"></span></a></li>
                        <li class="ftco-animate"><a
                                    href="https://www.youtube.com/channel/UCA87nAMk_Q2obGjmBh0iN0A" target="_blank"><span
                                        class="icon-youtube"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.linkedin.com/company/remedymatch/" target="_blank"><span
                                        class="icon-linkedin"></span></a></li>
                        <li class="ftco-animate"><a href="https://github.com/remedyMatch" target="_blank"><span
                                        class="icon-github"></span></a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li><a class="py-2 d-block" href="{{ path('web_index') }}">Startseite</a></li>
                        <li><a class="py-2 d-block" href="{{ path('web_press') }}">Presse</a></li>
                        <li><a class="py-2 d-block" href="{{ path('web_privacy') }}">Datenschutz</a></li>
                        <li><a class="py-2 d-block" href="{{ path('web_imprint') }}">Impressum</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Template by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <br/>
                   
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                <p>

                </p>
            </div>
        </div>
    </div>
</footer>


<!-- loader -->
<div class="show fullscreen" id="ftco-loader">
   <div id="logo-bm" class="circular" width="48px" height ="48px"></div>
    <div class="text" style="position: absolute;
    left: calc(50% - 212px);
    top: calc(50% + 30px);
    display: block;"> Bitte warten Sie einen Moment, Ihre Anfrage wird verarbeitet.</div>
</div>

{{ encore_entry_script_tags('app_js') }}


<script async src="https://www.googletagmanager.com/gtag/js?id={{ env_google_analytics_id }}"></script>
<script> window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', '{{ env_google_analytics_id }}', {'anonymize_ip': true});
</script>
<script>
    var logoSvgData = {"v":"5.5.10","fr":60,"ip":0,"op":90,"w":48,"h":48,"nm":"Cross-Loading-Spinner","ddd":0,"assets":[{"id":"comp_0","layers":[{"ddd":0,"ind":1,"ty":4,"nm":"Kreuz-Oben 2","sr":1,"ks":{"o":{"a":0,"k":100,"ix":11},"r":{"a":0,"k":0,"ix":10},"p":{"a":1,"k":[{"i":{"x":0.063,"y":1},"o":{"x":0.019,"y":0},"t":151,"s":[72.034,72.033,0],"to":[0,-2.917,0],"ti":[0,0,0]},{"i":{"x":0.616,"y":1},"o":{"x":1,"y":0},"t":188,"s":[72.034,54.533,0],"to":[0,0,0],"ti":[0,-2.917,0]},{"t":211,"s":[72.034,72.033,0]}],"ix":2},"a":{"a":0,"k":[301.437,47.063,0],"ix":1},"s":{"a":0,"k":[250,250,100],"ix":6}},"ao":0,"shapes":[{"ty":"gr","it":[{"ind":0,"ty":"sh","ix":1,"ks":{"a":0,"k":{"i":[[0,0],[0,0],[0.777,0],[0,0],[0,-0.777],[0,0],[0,0]],"o":[[0,0],[0,-0.777],[0,0],[-0.777,0],[0,0],[0,0],[0,0]],"v":[[8.067,2.348],[8.067,-9.007],[6.66,-10.414],[-6.659,-10.414],[-8.066,-9.007],[-8.066,2.348],[0.002,10.414]],"c":true},"ix":2},"nm":"Path 1","mn":"ADBE Vector Shape - Group","hd":false},{"ty":"fl","c":{"a":0,"k":[0.778427303539,0.815704046511,0.786385330499,1],"ix":4},"o":{"a":0,"k":100,"ix":5},"r":1,"bm":0,"nm":"Fill 1","mn":"ADBE Vector Graphic - Fill","hd":false},{"ty":"tr","p":{"a":0,"k":[301.437,36.597],"ix":2},"a":{"a":0,"k":[0,0],"ix":1},"s":{"a":0,"k":[100,100],"ix":3},"r":{"a":0,"k":0,"ix":6},"o":{"a":0,"k":100,"ix":7},"sk":{"a":0,"k":0,"ix":4},"sa":{"a":0,"k":0,"ix":5},"nm":"Transform"}],"nm":"Group 6","np":2,"cix":2,"bm":0,"ix":1,"mn":"ADBE Vector Group","hd":false}],"ip":151,"op":182,"st":150,"bm":0},{"ddd":0,"ind":2,"ty":4,"nm":"Kreuz-Links 2","sr":1,"ks":{"o":{"a":0,"k":100,"ix":11},"r":{"a":0,"k":0,"ix":10},"p":{"a":1,"k":[{"i":{"x":0.063,"y":1},"o":{"x":0.019,"y":0},"t":121,"s":[72.034,72.033,0],"to":[-2.917,0,0],"ti":[0,0,0]},{"i":{"x":0.616,"y":1},"o":{"x":1,"y":0},"t":158,"s":[54.534,72.033,0],"to":[0,0,0],"ti":[-2.917,0,0]},{"t":181,"s":[72.034,72.033,0]}],"ix":2},"a":{"a":0,"k":[301.448,47.011,0],"ix":1},"s":{"a":0,"k":[250,250,100],"ix":6}},"ao":0,"shapes":[{"ty":"gr","it":[{"ind":0,"ty":"sh","ix":1,"ks":{"a":0,"k":{"i":[[0,0],[0,0],[0,0],[0,-0.777],[0,0],[-0.778,0],[0,0]],"o":[[0,0],[0,0],[-0.778,0],[0,0],[0,0.777],[0,0],[0,0]],"v":[[10.414,-0.001],[2.349,-8.066],[-9.007,-8.066],[-10.414,-6.66],[-10.414,6.66],[-9.007,8.066],[2.349,8.066]],"c":true},"ix":2},"nm":"Path 1","mn":"ADBE Vector Shape - Group","hd":false},{"ty":"fl","c":{"a":0,"k":[0.22667724011,0.55824471268,0.625601495481,1],"ix":4},"o":{"a":0,"k":100,"ix":5},"r":1,"bm":0,"nm":"Fill 1","mn":"ADBE Vector Graphic - Fill","hd":false},{"ty":"tr","p":{"a":0,"k":[291.023,47.011],"ix":2},"a":{"a":0,"k":[0,0],"ix":1},"s":{"a":0,"k":[100,100],"ix":3},"r":{"a":0,"k":0,"ix":6},"o":{"a":0,"k":100,"ix":7},"sk":{"a":0,"k":0,"ix":4},"sa":{"a":0,"k":0,"ix":5},"nm":"Transform"}],"nm":"Group 7","np":2,"cix":2,"bm":0,"ix":1,"mn":"ADBE Vector Group","hd":false}],"ip":120,"op":182,"st":120,"bm":0},{"ddd":0,"ind":3,"ty":4,"nm":"Kreuz-Unten","sr":1,"ks":{"o":{"a":0,"k":100,"ix":11},"r":{"a":0,"k":0,"ix":10},"p":{"a":1,"k":[{"i":{"x":0.063,"y":1},"o":{"x":0.019,"y":0},"t":91,"s":[72.034,72.033,0],"to":[0,2.917,0],"ti":[0,0,0]},{"i":{"x":0.616,"y":1},"o":{"x":1,"y":0},"t":128,"s":[72.034,89.533,0],"to":[0,0,0],"ti":[0,2.917,0]},{"t":151,"s":[72.034,72.033,0]}],"ix":2},"a":{"a":0,"k":[301.438,47.001,0],"ix":1},"s":{"a":0,"k":[250,250,100],"ix":6}},"ao":0,"shapes":[{"ty":"gr","it":[{"ind":0,"ty":"sh","ix":1,"ks":{"a":0,"k":{"i":[[0,0],[0,0],[-0.777,0],[0,0],[0,0.778],[0,0],[0,0]],"o":[[0,0],[0,0.778],[0,0],[0.777,0],[0,0],[0,0],[0,0]],"v":[[-8.066,-2.348],[-8.066,9.007],[-6.66,10.415],[6.659,10.415],[8.066,9.007],[8.066,-2.348],[-0.001,-10.415]],"c":true},"ix":2},"nm":"Path 1","mn":"ADBE Vector Shape - Group","hd":false},{"ty":"fl","c":{"a":0,"k":[0.612767956304,0.691214767157,0.682540833716,1],"ix":4},"o":{"a":0,"k":100,"ix":5},"r":1,"bm":0,"nm":"Fill 1","mn":"ADBE Vector Graphic - Fill","hd":false},{"ty":"tr","p":{"a":0,"k":[301.438,57.427],"ix":2},"a":{"a":0,"k":[0,0],"ix":1},"s":{"a":0,"k":[100,100],"ix":3},"r":{"a":0,"k":0,"ix":6},"o":{"a":0,"k":100,"ix":7},"sk":{"a":0,"k":0,"ix":4},"sa":{"a":0,"k":0,"ix":5},"nm":"Transform"}],"nm":"Group 5","np":2,"cix":2,"bm":0,"ix":1,"mn":"ADBE Vector Group","hd":false}],"ip":61,"op":182,"st":90,"bm":0},{"ddd":0,"ind":4,"ty":4,"nm":"Kreuz-Rechts","sr":1,"ks":{"o":{"a":0,"k":100,"ix":11},"r":{"a":0,"k":0,"ix":10},"p":{"a":1,"k":[{"i":{"x":0.063,"y":1},"o":{"x":0.019,"y":0},"t":61,"s":[72.034,72.033,0],"to":[2.911,0,0],"ti":[0,0,0]},{"i":{"x":0.616,"y":1},"o":{"x":1,"y":0},"t":98,"s":[89.5,72.033,0],"to":[0,0,0],"ti":[2.911,0,0]},{"t":121,"s":[72.034,72.033,0]}],"ix":2},"a":{"a":0,"k":[301.428,47.011,0],"ix":1},"s":{"a":0,"k":[250,250,100],"ix":6}},"ao":0,"shapes":[{"ty":"gr","it":[{"ind":0,"ty":"sh","ix":1,"ks":{"a":0,"k":{"i":[[0,0],[0,0],[0,0],[0,0],[0,0.777],[0,0],[0.777,0]],"o":[[0,0],[0,0],[0,0],[0.777,0],[0,0],[0,-0.777],[0,0]],"v":[[-2.349,-8.066],[-10.414,-0.001],[-2.349,8.066],[9.007,8.066],[10.414,6.66],[10.414,-6.66],[9.007,-8.066]],"c":true},"ix":2},"nm":"Path 1","mn":"ADBE Vector Shape - Group","hd":false},{"ty":"fl","c":{"a":0,"k":[0.159422810872,0.400723206763,0.460220785702,1],"ix":4},"o":{"a":0,"k":100,"ix":5},"r":1,"bm":0,"nm":"Fill 1","mn":"ADBE Vector Graphic - Fill","hd":false},{"ty":"tr","p":{"a":0,"k":[311.853,47.011],"ix":2},"a":{"a":0,"k":[0,0],"ix":1},"s":{"a":0,"k":[100,100],"ix":3},"r":{"a":0,"k":0,"ix":6},"o":{"a":0,"k":100,"ix":7},"sk":{"a":0,"k":0,"ix":4},"sa":{"a":0,"k":0,"ix":5},"nm":"Transform"}],"nm":"Group 4","np":2,"cix":2,"bm":0,"ix":1,"mn":"ADBE Vector Group","hd":false}],"ip":61,"op":182,"st":60,"bm":0},{"ddd":0,"ind":5,"ty":4,"nm":"Kreuz-Oben","sr":1,"ks":{"o":{"a":0,"k":100,"ix":11},"r":{"a":0,"k":0,"ix":10},"p":{"a":1,"k":[{"i":{"x":0.063,"y":1},"o":{"x":0.019,"y":0},"t":31,"s":[72.034,72.033,0],"to":[0,-2.917,0],"ti":[0,0,0]},{"i":{"x":0.616,"y":1},"o":{"x":1,"y":0},"t":68,"s":[72.034,54.533,0],"to":[0,0,0],"ti":[0,-2.917,0]},{"t":91,"s":[72.034,72.033,0]}],"ix":2},"a":{"a":0,"k":[301.437,47.063,0],"ix":1},"s":{"a":0,"k":[250,250,100],"ix":6}},"ao":0,"shapes":[{"ty":"gr","it":[{"ind":0,"ty":"sh","ix":1,"ks":{"a":0,"k":{"i":[[0,0],[0,0],[0.777,0],[0,0],[0,-0.777],[0,0],[0,0]],"o":[[0,0],[0,-0.777],[0,0],[-0.777,0],[0,0],[0,0],[0,0]],"v":[[8.067,2.348],[8.067,-9.007],[6.66,-10.414],[-6.659,-10.414],[-8.066,-9.007],[-8.066,2.348],[0.002,10.414]],"c":true},"ix":2},"nm":"Path 1","mn":"ADBE Vector Shape - Group","hd":false},{"ty":"fl","c":{"a":0,"k":[0.778427303539,0.815704046511,0.786385330499,1],"ix":4},"o":{"a":0,"k":100,"ix":5},"r":1,"bm":0,"nm":"Fill 1","mn":"ADBE Vector Graphic - Fill","hd":false},{"ty":"tr","p":{"a":0,"k":[301.437,36.597],"ix":2},"a":{"a":0,"k":[0,0],"ix":1},"s":{"a":0,"k":[100,100],"ix":3},"r":{"a":0,"k":0,"ix":6},"o":{"a":0,"k":100,"ix":7},"sk":{"a":0,"k":0,"ix":4},"sa":{"a":0,"k":0,"ix":5},"nm":"Transform"}],"nm":"Group 6","np":2,"cix":2,"bm":0,"ix":1,"mn":"ADBE Vector Group","hd":false}],"ip":61,"op":152,"st":30,"bm":0},{"ddd":0,"ind":6,"ty":4,"nm":"Kreuz-Links","sr":1,"ks":{"o":{"a":0,"k":100,"ix":11},"r":{"a":0,"k":0,"ix":10},"p":{"a":1,"k":[{"i":{"x":0.063,"y":1},"o":{"x":0.019,"y":0},"t":1,"s":[72.034,72.033,0],"to":[-2.917,0,0],"ti":[0,0,0]},{"i":{"x":0.616,"y":1},"o":{"x":1,"y":0},"t":38,"s":[54.534,72.033,0],"to":[0,0,0],"ti":[-2.917,0,0]},{"t":61,"s":[72.034,72.033,0]}],"ix":2},"a":{"a":0,"k":[301.448,47.011,0],"ix":1},"s":{"a":0,"k":[250,250,100],"ix":6}},"ao":0,"shapes":[{"ty":"gr","it":[{"ind":0,"ty":"sh","ix":1,"ks":{"a":0,"k":{"i":[[0,0],[0,0],[0,0],[0,-0.777],[0,0],[-0.778,0],[0,0]],"o":[[0,0],[0,0],[-0.778,0],[0,0],[0,0.777],[0,0],[0,0]],"v":[[10.414,-0.001],[2.349,-8.066],[-9.007,-8.066],[-10.414,-6.66],[-10.414,6.66],[-9.007,8.066],[2.349,8.066]],"c":true},"ix":2},"nm":"Path 1","mn":"ADBE Vector Shape - Group","hd":false},{"ty":"fl","c":{"a":0,"k":[0.22667724011,0.55824471268,0.625601495481,1],"ix":4},"o":{"a":0,"k":100,"ix":5},"r":1,"bm":0,"nm":"Fill 1","mn":"ADBE Vector Graphic - Fill","hd":false},{"ty":"tr","p":{"a":0,"k":[291.023,47.011],"ix":2},"a":{"a":0,"k":[0,0],"ix":1},"s":{"a":0,"k":[100,100],"ix":3},"r":{"a":0,"k":0,"ix":6},"o":{"a":0,"k":100,"ix":7},"sk":{"a":0,"k":0,"ix":4},"sa":{"a":0,"k":0,"ix":5},"nm":"Transform"}],"nm":"Group 7","np":2,"cix":2,"bm":0,"ix":1,"mn":"ADBE Vector Group","hd":false}],"ip":61,"op":120,"st":0,"bm":0}]}],"layers":[{"ddd":0,"ind":1,"ty":0,"nm":"Cross-Loading-Spinner-Precomp1","refId":"comp_0","sr":0.75,"ks":{"o":{"a":0,"k":100,"ix":11},"r":{"a":0,"k":0,"ix":10},"p":{"a":0,"k":[23.75,23.75,0],"ix":2},"a":{"a":0,"k":[72,72,0],"ix":1},"s":{"a":0,"k":[33.33,33.33,100],"ix":6}},"ao":0,"w":144,"h":144,"ip":0,"op":90.75,"st":-45.75,"bm":0}],"markers":[]};

const animation = bodymovin.loadAnimation({
  container: document.getElementById('logo-bm'),
  renderer: 'svg',
  loop: true,
  autoplay: true,
  animationData: logoSvgData
})
</script>
<script src="https://www.google.com/recaptcha/api.js?render={{ env_google_recaptcha_public }}"></script>
<script>
    grecaptcha.ready(function() {
        $('.grecaptcha-badge').hide();
        grecaptcha.execute('{{ env_google_recaptcha_public }}', {action: 'homepage'});
    });
</script>
{% block javascripts %}{% endblock %}

</body>
</html>