{% extends 'admin/admin_base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login_css') }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="btn btn-primary">Save</button>
    {{ form_end(form) }}
{% endblock %}