{% extends 'base.html.twig' %}

{% block body %}
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h2>{{ 'imprint.headline'|trans }}</h2>
                    <span class="icon icon-map-marker"></span>
                    <span
                            class="text">{{ 'imprint.text.company-name'|trans }}<br/>{{ 'imprint.text.company-street'|trans }}<br/>{{ 'imprint.text.company-postal-and-city'|trans }}</span>
                    <br/>
                    <span><a
                                href="javascript:window.location.href = 'mailto:' + ['info','remedymatch.io'].join('@')"><span
                                    class="text">{{ 'imprint.text.contact'|trans }}</span></a></span>
                </div>
                <div class="col-md-3">
                    <h2>{{ 'imprint.headline-legal-information'|trans }}</h2>
                    {{ 'imprint.headline-legal-information.name'|trans }}</br>
                    {{ 'imprint.headline-legal-information.court'|trans }}</br>{{ 'imprint.headline-legal-information.register-number'|trans }}
                </div>
                <div class="col-md-6">
                    <h3>{{ 'imprint.headline-why-spielemeister'|trans }}</h3>
                    <p>
                        {{ 'imprint.why-spielemeister.text.first'|trans }}<br>
                        {{ 'imprint.why-spielemeister.text.second'|trans }}
                        <strong>{{ 'imprint.why-spielemeister.text.third'|trans }}</strong> {{ 'imprint.why-spielemeister.text.fourth'|trans }}
                    </p>
                    <p>{{ 'imprint.why-spielemeister.text.fiths'|trans }}</p>
                </div>
            </div>
        <div class="row">
            <div class="col-md-3">
                {{ 'imprint.domains-controlled-by-us'|trans }}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">remedymatch.de</li>
                    <li class="list-group-item">remedymatch.io</li>
                    <li class="list-group-item">remedymatch.eu</li>
                    <li class="list-group-item">remedymatch.at</li>
                    <li class="list-group-item">remedymatch.ch</li>
                </ul>
            </div>

            </div>
        </div>
    </section>
{% endblock %}

