{% extends 'base.html.twig' %}

{% block body %}

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="card" id="register-info-card">
                        <div class="card-body">
                            <h4>{{ 'register.disclaimer-heading'|trans }}</h4>
                            <p>{{ 'register.disclaimer'|trans }}
                            </p>
                            <p>
                                <span id="registration-intro" class="btn btn-success btn-lg btn-block">{{ 'register.button.start'|trans }}</span>
                            </p>
                        </div>
                    </div>
                    <div class="card" id="register-card">
                        <div class="card-body">
                            <form action="{{ path('web_register_post') }}" method="post" id="wizard" class="form">
                                <!-- SECTION 1 -->
                                <h2></h2>
                                <section>
                                    <div class="inner">
                                        <div class="form-content">
                                            <div class="form-header">
                                                <h3 style="color:#000;">{{ 'register.personal-data-heading'|trans }}</h3>
                                            </div>
                                            <div class="form-row">
                                                <div class="col form-group">
                                                    <label for="account-type">{{ 'register.organisation-question'|trans }}</label>
                                                    <select id="account-type" name="account-type"
                                                            class="required form-control">
                                                        <option value="2">{{ 'register.organisation-no'|trans }}</option>
                                                        <option value="1">{{ 'register.organisation-yes'|trans }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div id="organisation-wrapper">
                                                <div class="form-row">
                                                    <div class="col form-group">
                                                        <label for="company">{{ 'register.organisation-name'|trans }}</label>
                                                        <input type="text" placeholder={{ 'register.organisation-name'|trans }} id="company"
                                                               name="company" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col form-group">
                                                        <label for="type">{{ 'register.organisation-type'|trans }}</label>
                                                        <select name="type" id="type" class="form-control" >
                                                            <option value="">{{ 'register.organisation-type-select'|trans }}</option>
                                                            {% for organisation in organisations %}
                                                                <option value="{{ organisation.label }}">{{ organisation.label }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="firstname">{{ 'register.firstname'|trans }}</label>
                                                    <input type="text" id="firstname" name="firstname"
                                                           placeholder="{{ 'register.firstname'|trans }}"
                                                           class="form-control required">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="lastname">{{ 'register.lastname'|trans }}</label>
                                                    <input type="text" id="lastname" placeholder="{{ 'register.lastname'|trans }}"
                                                           name="lastname"
                                                           class="form-control required">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col form-group">
                                                    <label for="email">{{ 'register.email'|trans }}</label>
                                                    <input type="email" id="email" name="email" placeholder="{{ 'register.email'|trans }}"
                                                           class="form-control required">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <!-- SECTION 2 -->
                                <h2></h2>
                                <section>
                                    <div class="inner">
                                        <div class="form-content">
                                            <div class="form-header">
                                                <h3 style="color:#000;">{{ 'register.contact-information-heading'|trans }}</h3>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-9 form-group">
                                                    <label for="street">{{ 'register.street'|trans }}</label>
                                                    <input type="text" id="street" name="street"
                                                           placeholder="{{ 'register.street'|trans }}"
                                                           class="form-control required">
                                                </div>
                                                <div class="col-3 form-group">
                                                    <label for="housenumber">&nbsp;</label>
                                                    <input type="text" id="housenumber" name="housenumber" maxlength="5"
                                                           placeholder="{{ 'register.housenumber'|trans }}" class="form-control required">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-12 form-group">
                                                    <label for="zipcode">{{ 'register.postal-code'|trans }}</label>
                                                    <input type="text" placeholder="{{ 'register.postal-code-short'|trans }}" name="zipcode" id="zipcode" maxlength="5"
                                                           class="form-control required">
                                                </div>

                                            </div>
                                            <div class="form-row">
                                                <div class="col-12 form-group">
                                                    <label for="city">{{ 'register.city'|trans }}</label>
                                                    <input type="text" id="city" name="city" placeholder="{{ 'register.city'|trans }}"
                                                           class="form-control required">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="phone">{{ 'register.telephone-number'|trans }}</label>
                                                    <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1">+49</span>
                                                    </div>
                                                    <input type="text" id="phone" name="phone" maxlength="15"
                                                           placeholder="{{ 'register.telephone-number-placeholder'|trans }}"
                                                           class="form-control required">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>


                                <!-- SECTION 3 -->
                                <h2></h2>
                                <section>
                                    <div class="inner">
                                        <div class="form-content">
                                            <div class="form-header">
                                                <h3 style="color:#000;">{{ 'register.password-heading'|trans }}</h3>
                                            </div>
                                            <div class="form-row">
                                                <div class="col form-group">
                                                    <label for="password">{{ 'register.password'|trans }}</label>
                                                    <input type="password" id="password" name="password"
                                                           placeholder="{{ 'register.password'|trans }}"
                                                           class="form-control required"
                                                           onKeyUp="checkPasswordStrength();">
                                                    <div id="password-strength-status"></div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col form-group">
                                                    <label for="confirm">{{ 'register.password-confirm'|trans }}</label>
                                                    <input type="password" id="confirm"
                                                           placeholder="{{ 'register.password-confirm'|trans }}"
                                                           class="form-control required"
                                                           onKeyUp="checkPasswordConfirm();">
                                                    <div id="password-correct"></div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group form-check">
                                                    <label class="form-check-label" for="acceptTerms">
                                                        {{ 'register.dataprotection'|trans }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <input type="hidden" name="token" id="token" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        var form = $("#wizard");
        var stepChanged = false;

        $(function () {
            $('#registration-intro').click(function () {
                grecaptcha.ready(function () {
                    grecaptcha.execute('{{ env_google_recaptcha_public }}', {action: 'register'}).then(function (token) {
                        $('#register-info-card').hide();
                        $('#register-card').show();
                        $('#token').val(token);
                    });
                });
            });

            $(document).on('change', '#account-type', function () {
                var selValue = $(this).val();
                if (selValue == 1) {
                    $('#organisation-wrapper').show();
                    $('#type').removeClass();
                    $('#type').addClass('form-control required');
                    $('#company').removeClass();
                    $('#company').addClass('form-control required');
                } else {
                    $('#organisation-wrapper').hide();
                    $('#type').removeClass();
                    $('#type').addClass('form-control');
                    $('#company').removeClass();
                    $('#company').addClass('form-control');
                }
            });
            $.validator.addMethod('phonecheck', function (value, element) {
                var regex = /^\(?([0-9]{2})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})[-. ]?([0-9]{2})?([0-9]{1})?$/;
                var regex2 = /^\(?([0-9]{4})\)?[-. ]?([0-9]{7})([0-9]{1})?$/;
                var phoneno = /^\+?([0-9]{2})\)?[-. ]?([0-9]{4})[-. ]?([0-9]{4})[-. ]?([0-9]{2})?([0-9]{1})?$/;
                var phoneno2 = /^\+?([0-9]{2})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{7})[-. ]?([0-9]{1})?$/;
                if (regex.test(value) || phoneno.test(value) || regex2.test(value) || phoneno2.test(value)) {

                    return true;
                } else {

                    return false;
                }
            }, "{{ 'register.telephone-number-error'|trans }}");

            $.validator.addMethod('zipcodeCheck', function (value, element) {
                var regex = /^[0-9]{5}$/

                if (regex.test(value)) {
                    return true;

                } else {
                    return false;
                }


            }, "{{ 'register.postal-code-error'|trans }}");

            $.validator.messages.required = "{{ 'register.empty-error'|trans }}";
            $.validator.messages.email = "{{ 'register.email-error'|trans }}";
            $.validator.setDefaults({
                highlight: function (element) {
                    $(element).closest('.form-group').find(".form-control:first").addClass('is-invalid');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').find(".form-control:first").removeClass('is-invalid');
                    $(element).closest('.form-group').find(".form-control:first").addClass('is-valid');
                },
                errorElement: 'span',
                errorClass: 'invalid-feedback',
                errorPlacement: function (error, element) {
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                },
                rules: {
                    phone: {
                        phonecheck: true
                    },
                    zipcode: {
                        zipcodeCheck: true
                    }
                }
            });

            $("#wizard").steps({
                headerTag: "h2",
                bodyTag: "section",
                enableAllSteps: true,
                transitionEffect: "fade",
                transitionEffectSpeed: 300,
                labels: {
                    finish: "{{ 'register.button.finish'|trans }}",
                    next: "{{ 'register.button.next'|trans }}",
                    previous: "{{ 'register.button.previous'|trans }}"
                },
                onInit: function (event, currentIndex) {
                    $('.actions ul li a').addClass('btn btn-primary btn-lg');
                    $('.actions ul li:last-child a').removeClass('btn-primary').addClass('btn-success');
                },
                onFinished: function (event, currentIndex) {
                    document.getElementById("wizard").submit();
                },
                onStepChanging: function (event, currentIndex, newIndex) {
                    if (currentIndex > newIndex) {
                        stepChanged = true;
                        return true;
                    }
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        form.find(".body:eq(" + newIndex + ") label.error").remove();
                        form.find(".body:eq(" + newIndex + ") .error").removeClass("form-control is-invalid");
                    }

                    stepChanged = form.valid();
                    return form.valid();
                },
                onFinishing: function (event, currentIndex) {
                    form.validate().settings.ignore = ":disabled";
                    if (!checkPasswordStrength()) {
                        $('#password').focus();
                        stepChanged = false;
                        return false;
                    }
                    if (!checkPasswordConfirm()) {
                        $('#confirm').focus();
                        stepChanged = false;
                        return false;
                    }

                    $('#ftco-loader').addClass('show');

                    return form.valid();
                }
            });
            $('.wizard > .steps li a').click(function () {
                if (stepChanged) {
                    $(this).parent().addClass('checked');
                    $(this).parent().prevAll().addClass('checked');
                    $(this).parent().nextAll().removeClass('checked');
                }

            });
            // Custome Jquery Step Button
            $('.forward').click(function () {
                $("#wizard").steps('next');
            })
            $('.backward').click(function () {
                $("#wizard").steps('previous');
            })
        });

        function checkPasswordStrength() {
            var number = /([0-9])/;
            var alphabets = /([a-zA-Z])/;
            var special_characters = /([~,!,@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
            if ($('#password').val().length < 6) {
                $('#password-strength-status').removeClass();
                $('#password-strength-status').addClass('weak-password');
                $('#password-strength-status').html("{{ 'register.password-length-error'|trans }}");
                $('#password').removeClass();
                $('#password').addClass('form-control is-invalid');
                $('#password').focus();
                return false;
            } else {
                if ($('#password').val().match(number) && $('#password').val().match(alphabets) && $('#password').val().match(special_characters)) {
                    $('#password-strength-status').removeClass();
                    $('#password-strength-status').addClass('strong-password');
                    $('#password-strength-status').html("");
                    $('#password').removeClass();
                    $('#password').addClass('form-control is-valid');
                    return true;
                } else {
                    $('#password-strength-status').removeClass();
                    $('#password-strength-status').addClass('medium-password');
                    $('#password-strength-status').html("{{ 'register.password-strength-error'|trans }}");
                    $('#password').removeClass();
                    $('#password').addClass('form-control is-invalid');
                    $('#password').focus();
                    return false;
                }
            }
        };

        function checkPasswordConfirm() {
            if ($('#password').val() == $('#confirm').val()) {

                $('#password-correct').removeClass();
                $('#password-correct').addClass('strong-password');
                $('#password-correct').html("");
                $('#confirm').removeClass();
                $('#confirm').addClass('form-control is-valid');
                return true;
            } else {
                $('#password-correct').removeClass();
                $('#password-correct').addClass('strong-password');
                $('#password-correct').html("{{ 'register.password-equal-error'|trans }}");
                $('#confirm').removeClass();
                $('#confirm').addClass('form-control is-invalid');
                $('#confirm').focus();
                return false;
            }
        }

    </script>
{% endblock %}
{% block stylesheets %}
    <style type="text/css">
        .steps {
            margin-bottom: 30px
        }

        .steps ul {
            list-style-type: none;
            display: flex;
            position: relative;
            padding: 0;
        }

        .steps ul li {
            width: 33%;
            margin-right: 10px;
        }

        .steps ul li a {
            display: inline-block;
            width: 100%;
            height: 7px;
            background: #e6e6e6;
            border-radius: 3.5px
        }

        .steps ul li.first a,
        .steps ul li.checked a {
            background: #1AA4C2;
            transition: all 0.5s ease
        }

        .steps ul:before {
            font-size: 22px;
            top: -38px;
            position: absolute
        }

        .wizard > .steps .current-info,
        .wizard > .steps .number {
            display: none
        }

        .actions ul {
            list-style-type: none;
            display: flex;
            margin-top: 30px;
            justify-content: space-between;
            margin-left: 0;
            padding: 0;
        }

        .actions ul.step-last {
            justify-content: flex-end
        }

        .actions ul.step-last li:first-child {
            display: none
        }

        .actions li[aria-disabled="true"] a {
            display: none
        }


        #organisation-wrapper {
            display: none;
        }

        #register-card {
            display: none;
        }
    </style>
{% endblock %}

